 .card {
  display: flex;
  background: var(--White);
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  width: 870px;
}
.card .sidebar {
  background: url(../../../public/images/bg-sidebar-desktop.svg);
  height: 568px;
  width: 274px;
  flex-shrink: 0;
  background-repeat: no-repeat;
}
.steps {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 30px;
}

.steps .step-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 8px 0px;
  padding: 18px;
}
.steps .step-item:hover {
background: #00023d1a;
border-radius: 10px;
}

.step-item.active .step-item-number {
  background: var(--Light-blue);
  color: var(--Marine-blue);
  border: none;
}
.step-item .step-item-number {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Light-blue);
  color: var(--White);
  border-radius: 20px;
}

.steps .step-item .step-item-details {
  margin-left: 10px;
  text-transform: uppercase;
}
.steps .step-item .step-item-details span {
  color: var(--Cool-gray);
  font-weight: 400;
  font-size: 14px;
}
.steps .step-item .step-item-details p {
  color: var(--White);
  margin: 5px 0;
  font-weight: 500;
}
.card .content {
  padding: 20px 75px;
}

h2.title {
  font-weight: 700;
  font-size: 32px;
  color: var(--Marine-blue);
  margin-top: 10px !important;
}
p.description {
  color: var(--Cool-gray);
  margin-top: 0px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width : 910px){
  .centered{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .card {
    all: unset;
    display: contents;
  }
  .card .sidebar {
    background: url(../../../public/images/bg-sidebar-mobile.svg);
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    background-size: cover;
  }
  .steps {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 60px;
    padding: 20px 43px;
    justify-content: center;
    align-items: center;
  }
  .step-item{
        width: 35px;
  }
  .steps .step-item:hover {
    z-index: 1;
  }
  .step-item .step-item-details {
        display: none;
  }
  .card .content {
    display: flex;
    position: absolute;
    background: var(--White);
    width: 75%;
    top: 120px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
  }
}